<section class="container my-5">
  <h2 class="text-center mb-4">Mis Proyectos</h2>
  <div class="row">
    <!-- Proyecto 1 -->
     @for (proyecto of proyectos; track $index) {
      <div class="col-md-6 col-lg-4 mb-4" >
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ proyecto.titulo }}</h5>
            <p class="card-text flex-grow-1">{{ proyecto.descripcion }}</p>
            <a [href]="proyecto.enlace" target="_blank" class="btn btn-primary mt-3">Ver proyecto</a>
          </div>
        </div>
      </div>
    }
  </div>
</section>
