<section class="text-center m-5">
  <div class="d-flex align-items-center justify-center">
    <div class="">
      <h1 class="typing titulo-principal">
        ¡Hola! Soy Richard Sneider Malagón Conde
      </h1>
      <h2 class="mb-4 text-light">
        Tecnólogo en Desarrollo de Software y Sistemas de Información
      </h2>
      <p class="parrafo">
        Apasionado por la tecnología, el desarrollo web y la ciberseguridad. Con
        experiencia en el desarrollo de sistemas de información y aplicaciones
        web, enfocado en frontend con conocimientos de backend. Busco
        oportunidades para seguir creciendo profesionalmente y aportar con
        soluciones innovadoras.
      </p>
      <div class="mt-5 d-flex justify-content-center align-items-center">
        <button class="btn-1">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <span class="material-symbols-outlined">account_circle</span>
            </div>
          </div>
          <a href="https://es.wikipedia.org/wiki/Lana_Rhoades">Ver perfil</a>
        </button>
      </div>
    </div>
    <div class="">
      <img class="" src="/assets/image-removebg-preview.png" alt="" />
    </div>
  </div>
</section>
