<section class="mt-5 d-flex flex-column justify-content-center align-items-center text-center">
  <img src="assets/images/image.jpg" class="profile-img rounded-circle mb-3" alt="Tu foto" />

  <div class="text-white m-0 d-flex justify-content-center align-items-center">
    <div class="split-text-container">
      <span class="text-part left me-4">RICHARD</span>
      <span class="text-part right">MALAGON</span>
    </div>
  </div>

  <h2 class="text-secondary text-white">Desarrollador Web y de Software</h2>

  <p class="lead text-white mt-3">
    Apasionado por la tecnología, el desarrollo web y la creación de soluciones digitales innovadoras.
  </p>

  <div class="mt-4">
    <a href="assets/docs/CV-Richard.pdf" class="btn btn-primary me-2" download>
      <i class="fas fa-download me-1"></i> Descargar CV
    </a>
    <a routerLink="/contact" class="btn btn-outline-light">
      <i class="fas fa-envelope me-1"></i> Contactar
    </a>
  </div>

</section>